.table {
  width: 100%;
  border-collapse: collapse;
  background-color: $white;

  thead {
    background-color: $primary-color;
    text-align: left;
    
    th {
      font-size: 12px;
      text-transform: uppercase;
      color: $white;
      padding: 15px 10px;
    }

  }
  
  tbody {
    padding: 10px;
    
    tr {
      &:nth-child(even) {
        background-color: $table-zebra-color;
      }
    }
    
    td {
      font-size: $base;
      color: $dark-text;
      padding: 5px 10px;
    }
  }

  // STATUS
  &__status {
    display: block;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.100rem;
    font-weight: bolder;
    font-size: 10px;
    border-radius: 5px;
    padding: 5px 5px;
    
    &--c {
      background: rgb(4, 206, 4);
      color: $white;
    }

    &--i {
      background: rgb(199, 199, 199);
      color: rgb(143, 143, 143);
    }

    &--a {
      background: rgb(161, 138, 251);
      color: rgb(255, 255, 255);
    }
  }
}
