@use 'sass:map';

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  position: relative;
  box-shadow: 0 1px 3px rgb(black, 0.2);
  background-color: $white;
  border-radius: 8px;

  &__container {
    padding: 5px;
  }

  thead {
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: $primary-color;
    color: $white;
    
    th {
      padding: 15px;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;

      &:first-child {
        padding-left: 30px;
        border-top-left-radius: 8px;
      }

      &:last-child {
        padding-right: 30px;
        border-top-right-radius: 8px;
      }
    }
  }

  tbody {
    width: 100%;
    margin-top: 8px;

    tr {
      &:nth-child(even) {
        background-color: $table-zebra-color;
        
        &:hover {
          background-color: $table-row-hover;
        }
      }

      &:hover {
        background-color: $table-row-hover;

        &:first-child {
          border-radius: 4px;
        }
      }
    }

    td {
      padding: 4px 15px;
      font-size: 14px;

      &:first-child {
        padding-left: 30px;
      }

      &:last-child {
        padding-right: 30px;
      }
    }
  }

  &__status {
    @include table-status;
    background-color: #f5f5f5;

    &--a {
      background-color: map.get($Info, 500);
      color: $white;
      // background: rgb(161, 138, 251);
    }
  }

  .button, .button__small, .button__primary {
    height: fit-content;
    padding: none;
    color: $dark-text;
    background: rgba($white, 0);
  }
}
