/*
* NETLIINKS S.A.
* Author: Poll Castillo
* email: alejandrocordovafree@gmail.com
*
*
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: 100%;
}

html, body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFBFC;
}

h1, h2, h3, h4, h5, h6 {
  color: #33415E;
}

h1 {
  font-size: 56px;
  font-weight: 900;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 29px;
  line-height: 43.21px;
}

h5 {
  font-size: 23px;
}

h5 {
  font-size: 23px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 14px;
  line-height: 19.6px;
  margin-bottom: 12px;
}

.content {
  display: block;
  height: 100vh;
}

.UI {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.hw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tool + * {
  outline: 1px solid blue;
}

.button {
  display: inline-block;
  font-size: 14px;
  height: 38px;
  padding: 0 14px;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  transition: 0.3s all ease;
  color: #6D6D6D;
  font-weight: 500;
  -webkit-appearance: none !important;
  background-color: #F4F4F4;
}

.button:hover {
  background-color: #e7e7e7;
}

.button:active {
  background-color: #dbdbdb;
}

.button > i {
  margin-right: 6px;
}

.button__primary {
  color: #FFF;
  background-color: #54B3A4;
}

.button__primary:hover {
  background-color: #49a496;
}

.button__primary:active {
  background-color: #419386;
}

.button__secondary {
  background-color: #EAECEF;
}

.button__secondary:hover {
  background-color: #dcdfe4;
}

.button__secondary:active {
  background-color: #cdd2d9;
}

.button__danger {
  background-color: #C63A3A;
  color: #FFF;
}

.button__danger:hover {
  background-color: #b33434;
}

.button__danger:active {
  background-color: #9f2e2e;
}

.button__warning {
  background-color: #DDCD30;
  color: #FFF;
}

.button__warning:hover {
  background-color: #d1c122;
}

.button__warning:active {
  background-color: #bbad1f;
}

.button__large {
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
}

.button__large > i {
  margin-right: 6px;
}

.button__small {
  height: 32px;
  padding: 0 12px;
  font-size: 12px;
}

.button__small > i {
  margin-right: 6px;
}

.button__icon > i {
  margin: 0;
  font-size: 18px;
}

.button + * {
  margin-right: 10px;
}

.button__group .button {
  display: flow-root;
  margin: 0;
  border: none;
  border-radius: 0;
  float: left;
}

.container {
  display: block;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 32px;
}

.UImonth {
  display: block;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #7C8698;
}

.UIdate {
  font-size: 29px;
  font-weight: bolder;
}

.dropdown {
  display: inline-block;
  min-width: 10rem;
  position: relative;
  margin: 0.5em;
  font-size: 14px;
  /*
    Rotte styles
    (added later in JavaScirpt)
  */
  /*
    Active Styles
    (added later in JavaScirpt)
  */
  /*
    Open Styles
    (added later in JavaScirpt)
  */
}

.dropdown .select {
  background-color: #F4F4F4;
  color: #33415E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  padding: 0.8em;
  cursor: pointer;
  transition: 0.3s all ease;
  transition-property: background;
  /*
      Clicked styles
      (added later in JavaScirpt
    */
}

.dropdown .select--isClicked {
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
}

.dropdown .select:hover {
  background: .dropdown .select:hover lead-text;
}

.dropdown .caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #778398;
  transition: 0.3s;
}

.dropdown .caret--isRotate {
  transform: rotate(-90deg);
}

.dropdown .menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #FFF;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #778398;
  position: absolute;
  top: 3.4em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.dropdown .menu li {
  font-size: 14px;
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown .menu li:hover {
  background: #bee2dc;
}

.dropdown .active {
  background: #66bbad;
  color: #FFF;
}

.dropdown .active:hover {
  background: #bee2dc;
  color: #778398;
}

.dropdown .menu--isOpen {
  display: block;
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 30px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.2s all ease;
}

.modal__dialog {
  position: relative;
  margin: 0 auto;
  border-radius: 8px;
  width: 600px;
  max-width: 100% !important;
  background-color: #FFF;
  opacity: 0;
  transform: translateY(-100px);
  transition: 0.3s linear;
  transition-property: opacity, transform;
}

.modal__title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 12px;
}

.modal__body {
  display: flow-root;
  padding: 30px 30px;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px;
}

.open .modal__dialog {
  opacity: 1;
  transform: rotateY(0);
}

.sidebar {
  background-color: #F1F1F1;
  padding: 10px 25px;
  height: 100vh;
}

.sidebar .header {
  margin-bottom: 16px;
}

.sidebar .header h6 {
  text-transform: uppercase;
  font-weight: bolder;
}

.sidebar .menu, .sidebar .accordion__content {
  list-style: none;
}

.sidebar .menu li, .sidebar .accordion__content li {
  margin-bottom: 16px;
}

.sidebar .menu a, .sidebar .accordion__content a {
  text-decoration: none;
  color: #778398;
}

.sidebar .accordion__content {
  display: none;
  margin: 8px 0 0 16px;
}

.sidebar .menu .open {
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFF;
}

.table thead {
  background-color: #54B3A4;
  text-align: left;
}

.table thead th {
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  padding: 15px 10px;
}

.table tbody {
  padding: 10px;
}

.table tbody tr:nth-child(even) {
  background-color: rgba(84, 179, 164, 0.1);
}

.table tbody td {
  font-size: 14px;
  color: #33415E;
  padding: 5px 10px;
}

.table__status {
  display: block;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.100rem;
  font-weight: bolder;
  font-size: 10px;
  border-radius: 5px;
  padding: 5px 5px;
}

.table__status--c {
  background: #04ce04;
  color: #FFF;
}

.table__status--i {
  background: #c7c7c7;
  color: #8f8f8f;
}

.table__status--a {
  background: #a18afb;
  color: white;
}
