$Success: (
  100: #EBFBDE,
  200: #D3F8BE,
  300: #AFEA99,
  400: #8BD679,
  500: #5CBC4F,
  600: #3DA139,
  700: #27872B,
  800: #196D23,
  900: #0F5A1E,
);

$Info: (
  100: #D3EAFF,
  200: #A9D2FF,
  300: #7EB7FF,
  400: #5D9FFF,
  500: #2877FF,
  600: #1D5BDB,
  700: #1443B7,
  800: #0C2F93,
  900: #07207A,
);

$Warning: (
  100: #FFE8D8,
  200: #FFCCB2,
  300: #FFA98B,
  400: #FF886F,
  500: #FF523F,
  600: #DB312E,
  700: #B71F29,
  800: #931426,
  900: #7A0C24,
);

$Danger: (
  100: #FFE8D8,
  200: #FFCCB2,
  300: #FFA98B,
  400: #FF886F,
  500: #FF523F,
  600: #DB312E,
  700: #B71F29,
  800: #931426,
  900: #7A0C24,
);

$white: #FFF;
$background: #FAFBFC;
$primary-color: #54B3A4;

$dark-text: #33415E;
$lead-text: #778398;

$primary-button-color: $primary-color;
$default-button-color: #F4F4F4;
$secondary-button-color: #EAECEF;
$danger-button-color: #C63A3A;
$warning-button-color: #DDCD30;

$content-button-color: #6D6D6D;

$table-zebra-color: rgba($primary-color, 0.1);
$table-row-hover: rgba(#D0CF21, 0.4);

